// COLORS
$black: hsl(0, 0%, 0%);
$white: hsl(96, 12%, 92%);

$primary: hsl(0, 0%, 24%);
$secondary: hsl(0, 0%, 31%);
$tertiary: hsl(0, 0%, 53%);
$quaternary: hsl(0, 0%, 66%);
$pentinary: hsl(0, 0%, 79%);
$solid-white: hsl(0, 0%, 100%);

$green: hsl(112, 59%, 42%);
$red: hsl(356, 66%, 51%);
$yellow: hsl(40, 82%, 55%);
$blue: hsl(214, 72%, 52%);

// TRANSITION CURVES
$in-quad:       cubic-bezier(0.55, 0.085, 0.68, 0.53);
$in-cubic:      cubic-bezier(0.55, 0.055, 0.675, 0.19);
$in-quart:      cubic-bezier(0.895, 0.03, 0.685, 0.22);
$in-quint:      cubic-bezier(0.755, 0.05, 0.855, 0.06);
$in-expo:       cubic-bezier(0.95, 0.05, 0.795, 0.035);
$in-circ:       cubic-bezier(0.6, 0.04, 0.98, 0.335);
$out-quad:      cubic-bezier(0.25, 0.46, 0.45, 0.94);
$out-cubic:     cubic-bezier(0.215, 0.61, 0.355, 1.0075);
$out-quart:     cubic-bezier(0.165, 0.84, 0.44, 1.0075);
$out-quint:     cubic-bezier(0.23, 1, 0.32, 1.002);
$out-expo:      cubic-bezier(0.19, 1, 0.22, 1.003);
$out-circ:      cubic-bezier(0.075, 0.82, 0.165, 1.0015);
$in-out-quad:   cubic-bezier(0.455, 0.03, 0.515, 0.955);
$in-out-cubic:  cubic-bezier(0.645, 0.045, 0.355, 1);
$in-out-quart:  cubic-bezier(0.77, 0, 0.175, 1);
$in-out-quint:  cubic-bezier(0.86, 0, 0.07, 1);
$in-out-expo:   cubic-bezier(1, 0, 0, 1);
$in-out-circ:   cubic-bezier(0.785, 0.135, 0.15, 0.86);

// SIZING
$safari-mobile-urlbar-height: 80px;
$navbar-height: 86px;

$mobile-width: 621px;
$tablet-width: 1000px;

// element styles

.card-frame{
    background: $white;
    border: 1.5px solid $quaternary;
}

.pfp{
    box-shadow: 0 5px 33px 0 hsla(0, 0%, 0%, 38%);
}

button{
    font-family: "Figtree", system-ui, Helvetica, sans-serif;

    border: 2px solid $black; border-radius: 8pt;
    font-size: 14pt;
    color: $primary; background: none;
    letter-spacing: -0.44px;

    padding: 6pt 16pt; margin: 0;
    box-sizing: border-box;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;

    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    @media(hover: hover){ &:hover{
        border-color: $tertiary;
        color: $tertiary;
    }}
    &:active {
        border-color: $tertiary;
        color: $tertiary;
    }

    &.text{
        border: none; background: none;
        padding: 0;
        
        font-size: 14pt; font-weight: 300;
        color: $primary;

        &.small{
            font-size: 12pt;
        }

        @media(hover: hover){&:hover{
            color: $tertiary;
        }};
        &:active{
            color: $tertiary;
        }
    }
}

a{
    -webkit-tap-highlight-color: transparent;

    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}